.side__nav__container {
    background-color: white;
    width: 250px !important;
    height: 100%;
    -webkit-box-shadow: 10px 0px 8px -13px rgba(66,66,66,1);
-moz-box-shadow: 10px 0px 8px -13px rgba(66,66,66,1);
box-shadow: 10px 0px 8px -13px rgba(66,66,66,1);
}
.top__side__nav__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}
.side__profile__picture {
    height: 75px !important;
    width: 75px !important;
    border-radius: 50% !important;
    margin: 0 auto !important;
}
.side__profile__icon {
    color: lightgrey;
    box-shadow: 10px #CCC;
}
.side__nav__email {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.top__side__nav__container h6 {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 2rem;
}
.side__nav__tier {
    color: lightblue
}
.side__nav__navigation__container {
    display: flex;
    flex-direction: column;
    padding: .75em 0 .75em .75em;
}
.side__nav__category {
    color: darkgrey;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: .5em;
}
.side__nav__section__item {
    padding: .75em .5em;
    color: darkgrey;
    display: flex;
    align-items: center;
}
.side__nav__section__icon {
    font-size: 30px !important;
    padding-right: .25em;
}
.no__underline {
    text-decoration: none;
}
.active__two {
    border-right: 3px solid lightblue;
}