.action__button__container {
    display: flex;
    align-items: center;
    padding: .25rem;
    color: darkgrey;
    cursor: pointer;
    transition: .2s ease-in-out all;
}
.action__button__container:hover {
    color: lightgreen;
}