.column__container {
    background-color: transparent;
    background-color: whitesmoke;
    margin-right: 2rem;
    min-width: 315px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
}
.column__container__header {
    display: flex;
    align-items: center;
    color: black;
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 3px 3px 0 0;
    justify-content: space-between;
}
.column__container__header h5 {
    font-weight: 600;
    color: black;
}
.column__container__header__delete {
    color: darkgrey;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease-in-out all !important;
}
.column__container__header__delete:hover {
    transform: scale(1.2);
}

.column__dialog__confirm__buttons {
    display: flex !important;
    justify-content: space-around !important;
}
.column__dialog__buttons__delete {
    background-color: #f55f36;
    border-radius: 4px;
    padding: .5rem;
    cursor: pointer;
}
.column__dialog__buttons__cancel {
    cursor: pointer;
}