.column__container {
    background-color: transparent;
    background-color: whitesmoke;
    margin-right: 2rem;
    border-radius: 3px;
    min-width: 315px;
}
.column__container__header {
    display: flex;
    align-items: center;
    background-color: #2E2E2E;
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 3px 3px 0 0;
    justify-content: space-between;
}
.column__container__header h3 {
    color: #00FDDC;
}
.column__container__header__delete {
    background-color: #f55f36;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.column__dialog__confirm__buttons {
    display: flex !important;
    justify-content: space-around !important;
}
.column__dialog__buttons__delete {
    background-color: #f55f36;
    border-radius: 4px;
    padding: .5rem;
    cursor: pointer;
}
.column__dialog__buttons__cancel {
    cursor: pointer;
}