.column__item__container {
    background-color: white;
    margin: .5rem;
    border-radius: 3px;
    width: 300px;
}
.column__item__container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border-radius: 3px 3px 0 0;
    padding: .25rem .25rem;
}
.column__item__container__text {
    padding: .5rem .25rem;
    border-radius: 3px 3px 0 0;
}
.column__item__container__header__buttons {
    display: flex;
}
.column__item__delete__button {
    background-color: #f55f36;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.column__header__input {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bolder;
}
.column__header__input:focus {
    outline:none;
}
.column__item__edit__button {
    background-color: #f0f765;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: .25rem;
}