.container__category {
    background-color: #f7f7f7;
    width: 325px;
    margin: 1rem;
}
.container__category__header {
    background-color: #2E2E2E;
    padding: .5rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__category__header h3 {
    color: #00FDDC;
}
.category__header__btn__section {
    display: flex;
    width: 17%;
    justify-content: space-between;
}
.category__header__delete {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f75d52;
}
.category__header__edit {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f4fa7d;
}
.category__header__add {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #77fa70;
}
.container__category__cards__section {
    padding: .5rem;
}